<h1 class='form-title'> Signup </h1>

 <div>
  <div style='float:left'><%= render 'users/form' %></div>
  <div style='float:right'> 
    <div><h3>Already a member?</h3></div>
    <div><%= button_tag 'Sign In here', {:class => 'btn register-btn'} %></div>
    
  </div>
 </div> 

