@import 'variables'

@font-face
  font-family: "UbuntuRegular"
  src: url(/Ubuntu-R.ttf) 
  
@mixin container($width, $height, $padding, $bgcolor, $border, $textcolor)
  width: $width
  height: $height
  padding: $padding
  background-color: $bgcolor  
  border: $border
  color: $textcolor

.remove-border
  border: 0px

.remove-padding
  padding: 0px


.form-title
  color: lighten($black, 35%)
  
body 
  padding: 0
  margin: 0
  background-color: $white
  font-family: UbuntuRegular, arial
  font-size: 12px
  overflow-x: hidden
img
  border: 0
a
  color: $gray
  text-decoration: none

a:hover
  color: $orange  

h3
  color: lighten($black, 35%)

div.form-container
  label
    color: lighten($gray, 12%)
  input[type='text']
    height: 20px
    width: 300px
    padding: 3px
    border: $mediumgray 1px solid
    
  input[type='password']
    height: 20px
    width: 300px
    padding: 3px
    border: $mediumgray 1px solid

  input[type='submit']
    height: 23px
    background-color: #DDD
    border: #DDD 2px solid
    border-style: outset
    
  input[type='button']
    height: 23px


.container
  width: 100%
  background-color: $lightgray

.layout-header
  width: 950px
  margin: auto
  height: 55px

  span
    float: left
  .logo
    padding-top: 7px
  .caption
    padding: 12px 0 0 5px
    font-size: 24px
    letter-spacing: -1px
    font-weight: bold
  .menu
    float: right
    padding: 16px 10px
    a 
      text-decoration: none
      font-size: 14px    
    a:hover 
      font-weight: bold
      color: #F5A105

.layout-content
  border: $white 1px solid
  border-top: darken($lightgray, 5%) 1px solid
  width: 100%
  background-color: #FFF
  padding: 10px
  .content
    width: 950px
    margin: auto 
    min-height: 600px 
    height: auto

.layout-footer
  width: 100% 
  background-color: #F5F5F5
  height: 120px
  border-top: darken($lightgray, 5%) 1px solid
  position: absolute
  bottom: 0px

.register-btn, .signin-btn
  width: 135px
  padding: 5px
  font-weight: bold
  color: $gray
  cursor: pointer




.title-container
  @include container(auto, 30px, clear, darken($white, 5%), darken($white, 4%), $darkgray)  
  font-size: 16px
  font-weight: bold



.title
  font-size: 14px
  font-weight: bold
  padding: 2px

.notice
  color: green

.even 
  background-color: darken($white, 5%)
  color: darken($white, 85%)
  
.odd
  background-color: $white
  color: darken($white, 85%)
  
.error
  color: $red

.listings 
  tr  
    td:hover
      cursor: pointer
     
