<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <div class="header">My Today's tasks </div>
  <div class="content"><%= yield %> </div>
  <!-- footer starts here -->
  <div class="footer">
  </div>
  <!-- footer ends here -->
</div>

</body>
</html>
